<!DOCTYPE html>
<head>
    <title>Edit Profile</title>
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="css/general.css">
</head>
    <body>
        <div class="div-body">
            <%- include('header'); -%>
            <div class="background">
                <img src="imgs/login-page.png"/>
            </div>
            
            <div class="main-body">
                <div class="profile-page">
                    <div class="R_Profile">
                        <img src="imgs/Profile Picture.png" class="R_PicImg">
                        <input type="file" id="R_File">
                        <label for="R_File" class="R_UploadBtn">Choose Photo</label>
                    </div>

                    <h1 class="R_ProfileName" id="R_Name"><%=username%></h1>
                
                    <div class="Edit-Profile-Container">
                        <form action="/save" method="post">
                            <label for="biography" class="Profile-Label">Biography</label>
                            <input type="text" name="Bio" placeholder="Write your Biography here">
                            <label for="biography" class="Profile-Label">Hobbies</label>
                            <input type="text" name="Hobby" placeholder="Write your Hobby here">
                            <label for="biography" class="Profile-Label">Contact</label>
                            <input type="text" name="Contact" placeholder="Write your Contact Number here">
                            <label for="biography" class="Profile-Label">Links</label>
                            <input type="text" name="Link" placeholder="Write your Link here">
                            <button type="submit" class="R_SaveBtn">SAVE</button>
                        </form>
                    </div>
                </div>
            </div>
        <%- include('footer'); -%>
        </div>
    </body>
</html>