<div class="header">
    <div class="header-title">
        <a href="/index">
            <div class="title-area">
                LIGAYA
            </div>
            <div class="sun-area">
                <img src="/imgs/sun.png"/>
            </div>
        </a>
    </div>
    <div class="search-area">  
        <form action="/search" method="post" id="searchbar">        
            <input type="text" placeholder="Search" size="50" name="search" id="searchInpt">
            <button type="submit" class="R_Search" id="searchBtn"></button>
        </form>
    </div>
    <div class="button-area">
        <div class="home-btn">
            <a href="/index">HOME</a> 
        </div>          
        <div class="profile-btn">
            <a href="/profile">PROFILE</a>
        </div>
        <div class="group-btn">
            <a href="/groups">GROUPS</a> 
        </div> 
        <div class="group-btn">
            <a href="/posts">POST</a> 
        </div>
    </div>
</div>