<!DOCTYPE html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/general.css">
</head>
<body>
<div class="div-body">

    <%- include('header'); -%>
    <div class="background">
        <img src="imgs/login-page.png" class="background"/>
    </div>
    
    <!-- <div black-tint></div> -->

    <div class="main-body">
        <div class="home_page">
            <div class="col">

                <div class="home_element">
                    <a href="manila">
                        <div class="element_img">
                            <img src="imgs/Manila BG.png" alt="logo">
                            <div class="element_title">MANILA</div>
                        </div>
                    </a>
                </div>
        
                <div class="home_element">
                    <a href="taguig">
                        <div class="element_img">
                            <img src="imgs/Taguig BG.png" alt="logo">
                            <div class="element_title">TAGUIG</div>
                        </div>
                    </a>
                </div>

            </div>
            <div class="col">

                <div class="home_element">
                    <a href="makati">
                        <div class="element_img">
                            <img src="imgs/Makati BG.png" alt="logo">
                            <div class="element_title">MAKATI</div>
                        </div>
                    </a>
                </div>
                
                <div class="home_element">
                    <a href="quezon">
                        <div class="element_img">
                            <img src="imgs/Quezon BG.png" alt="logo">
                            <div class="element_title">QUEZON</div>
                        </div>
                    </a>
                </div>
        
            </div>
            <div class="col">

                <div class="home_element">
                    <a href="pasay">
                        <div class="element_img">
                            <img src="imgs/Pasay BG.png" alt="logo">
                            <div class="element_title">PASAY</div>
                        </div>
                    </a>
                </div>
                
                <div class="home_element">
                    <a href="tagaytay">
                        <div class="element_img">
                            <img src="imgs/Tagaytay BG.png" alt="logo">
                            <div class="element_title">TAGAYTAY</div>
                        </div>
                    </a>
                </div>
                
            </div>
        </div>
    </div>    
    <%- include('footer'); -%>
</div>
</body>