<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/landing.css">
    <link rel="stylesheet" href="css/general.css">
    <title>Ligaya</title>
</head>
<body>
    <div class="div-body">
        <div class="main-body">
            <div class="background">
                <img src="imgs/landing-page.png"/>
            </div>
            <div class="info">
                <div class="title-box">
                    <div class="title">
                        LIGAYA
                    </div>
                    <div class="sun">
                        <img src="imgs/sun.png"/>
                    </div>
                </div>
                <div class="slogan">
                    <div class="line1">Festivals and Events</div>
                    <div class="line2">in the Philippines</div>
                </div>
                <div class="button-box">
                    <div class="join-box">
                        <a href="login">
                            <div class="join">JOIN THE FUN</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    <%- include('footer'); -%>
</body>
</html>