<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/general.css">
</head>
<body>
    <div class="div-body">
        <div class="main-body">
            <div class="background">
                <img src="imgs/login-page.png"/>
            </div>
            <div class="info">
                <div class="title-box">
                    <div class="title">
                        LIGAYA
                    </div>
                    <div class="sun">
                        <img src="imgs/sun.png"/>
                    </div>
                </div>
                
                <div class="form-box">
                    <form action="/login" method="post" class="form">
                        <div class="form-img">
                            <img src="imgs/profile-user.png">
                        </div>
                        <div class="input-box">
                            <input type="text" name="Username" placeholder="Username" class="R_Username" maxlength="45" required>
                        </div>
                        <div class="input-box">
                            <input type="password" name="Password" placeholder="Password" class="R_Password" maxlength="45" required>
                        </div>
                        <% if(key != key2){ %>
                        <p class="error-msg"> Incorrect Username or Password! </p>
                        <% } %>
                        <div class="button-box">
                            <input type="submit" value="LOGIN" class="R_LoginBtn"><br>
                        </div>             
                        <div class="button-box">
                            <a href="register" class="R_RegisterBtn">
                                <div class="sign-up">
                                    SIGN UP
                                </div>
                            </a>
                        </div> 
                    </form>
                </div>
            </div>
        </div>    
<%- include('footer'); -%>
</body>
</html>