<!DOCTYPE html>
<head>
    <title>Edit Password</title>
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="css/general.css">
</head>
<body>
    <div class="div-body">
        <%- include('header'); -%>
        <div class="background">
            <img src="imgs/login-page.png"/>
        </div>
        
        <div class="main-body">
            <div class="profile-page">
                <div class="R_Profile">
                    <img src="imgs/Profile Picture.png" class="R_PicImg">
                    <input type="file" id="R_File">
                    <label for="R_File" class="R_UploadBtn">Choose Photo</label>
                </div>

                <h1 class="R_ProfileName" id="R_Name"><%=username%></h1>
            
                <div class="Edit-Profile-Container">
                    <form action="/savePass" method="post">
                        <label for="oldPassword" class="Profile-Label">Old Password</label>
                        <input type="password" name="oldPass" required>
                        <label for="newPassword" class="Profile-Label">New Password</label>
                        <input type="password" name="newPass" required>
                        <label for="confirmNewPassword" class="Profile-Label">Confirm New Password</label>
                        <input type="password" name="confirmNewPass" required>
                        <% if(pass != confirm){ %>
                        <p class="error-msg"> Password Did Not Match or Incorrect! </p>
                        <% } %>
                        <button type="submit" class="R_SaveBtn">SAVE</button>
                    </form>
                </div>
            </div>
        </div>
        <%- include('footer'); -%>
    </div>
</body>
</html>