<!DOCTYPE html>
<head>
    <title>Registration Page</title>
    <link rel="stylesheet" href="css/register.css">
    <link rel="stylesheet" href="css/general.css">
</head>
<body>
    <div class="div-body">
        <div class="main-body">
            <div class="background">
                <img src="imgs/login-page.png"/>
            </div>

            <div class="info">
                <div class="title-box">
                    <div class="title">
                        LIGAYA
                    </div>
                    <div class="sun">
                        <img src="imgs/sun.png"/>
                    </div>
                </div>
                
                <div class="form-box">
                    <form action="/register" method="post" class="form">
                        <div class="form-img">
                            <img src="imgs/profile-user.png">
                        </div>
                        <div class="input-box">
                            <div class="box-box">
                                <input type="text" name="FirstName" placeholder="First Name :" class="R_FirstName" maxlength="20" required>
                            </div>
                            <div class="box-box">
                                <input type="text" name="LastName" placeholder="Last Name :" class="R_LastName" maxlength="20" required>
                            </div>
                        </div>
                        <div class="input-box">
                            <input type="text" name="Email" placeholder="Email :" class="R_Email" maxlength="45" required>
                        </div>
                        <div class="input-box">
                            <input type="text" name="Username" placeholder="Username" class="R_Username" maxlength="45" required>
                        </div>
                        <div class="input-box">
                            <div class="box-box">
                                <input type="password" name="Password" placeholder="Password" class="R_Password" maxlength="45" required>
                            </div>
                            <div class="box-box">
                                <input type="password" name="ConfirmPassword" placeholder="Confirm Password:" class="R_ConfirmPassword" maxlength="45" required>
                            </div>
                        </div>  
                        <% if(pass != confirm){ %>
                        <p class="error-msg"> Password Did Not Match! </p>
                        <% } %>
                        <div class="button-box">
                            <input type="submit" class="R_SignUpBtn" value="REGISTER"><br>
                        </div>             
                        <div class="button-box">
                            <a href="login" class="R_RegisterBtn">
                                <div class="sign-up">
                                    LOGIN
                                </div>
                            </a>
                        </div> 
                    </form>
                </div>
            </div>
        </div>    
<%- include('footer'); -%>
</body>