<!DOCTYPE html>
<head>
    <title>Tagaytay Events</title>
    <link rel="stylesheet" href="css/events.css">
    <link rel="stylesheet" href="css/general.css">
</head>
<body>
<div class="div-body">
    <div class="main-body">
        <%- include('header'); -%>
        <div class="background">
            <img src="imgs/login-page.png"/>
        </div>
        <div class="city_page">
            <div class="city_name"><h1>TAGAYTAY</h1></div>
            <div class="event_element">
                <div class="name"><p>FUN RUN</p></div>
                <a href="funrun">
                    <div class="details"><p>View Details</p></div>
                </a>
            </div>
    
            <div class="event_element">
                <div class="name"><p>FESTIVAL</p></div>
                <a href="festival">
                    <div class="details"><p>View Details</p></div>
                </a>
            </div>
    
             <div class="event_element">
                <div class="name"><p>TOURNAMENT</p></div>
                <a href="tournament">
                    <div class="details"><p>View Details</p></div>
                </a>
            </div>
         </div>
    </div>
    <%- include('footer'); -%>
</div>
</body>