@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@300&family=Caveat+Brush&family=Caveat:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Alexandria', sans-serif;
}


body {
    background: url('imgs/landing-page.png') no-repeat;
    background-size: cover;
    height: 1000px;
}

.div-body {
    height: 1140px;
    display: flexbox;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.71);
    /* border: solid 1px pink; */
}

.background img{
    background: url('imgs/landing-page.png') no-repeat;
    background-size: cover;
    height: 1140px;
    position: fixed;
    z-index:-1;
    background: no-repeat;
    background-size: cover;    
    width: 100%;
}

.main-body {
    height: 800px;
    display: flex;
    flex-direction: column;
}

.city_page {
    margin-top: 200px;
    height: 800px;
    display: static;
    flex-direction: column;
    /* border: solid 1px red; */
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.event_element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: solid 1px blue; */
    width: 60%;
    background-color: rgba(255, 255, 255, 0.466);
    border-radius: 10px;
    height: 70px;
    align-items: center;
    padding-left: 30px;
    padding-right: 50px;
    position: static;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.name {
    justify-content: left;
    font-size: 25px;
    font-weight: bold;
}

.details {
    position: relative;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    width: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30px;
    float: right;
}

.city_name {
    text-align: center;
    color: white;
}

.deleteEventbtn{
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #2196f3;
    background: red;
    border: 1px solid black;
    border-radius: 15%;
    width: 160px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    color: black;
    transition: 0.2s;
    margin-left: 1000px;
}

.editEventbtn{
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #2196f3;
    background: blue;
    border: 1px solid black;
    border-radius: 15%;
    width: 190px;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    color: black;
    transition: 0.2s;
    margin-left: 1000px;
}

.createEventbtn{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #2196f3;
    background: white;
    border: 1px solid black;
    border-radius: 15%;
    width: 190px;
    padding: 20px 50px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    color: black;
    transition: 0.2s;
    line-height: 100px;
}

/* HEADER */
.post-header {
    align-items: center;
    text-align: center;
    padding-right: 50px;
    position: static;
    margin-top: 25px;
    margin-bottom: 10px;
}

.post-title {
	font-weight: 600;
	font-size: 20px;
}

.post-date {
	font-size: 12px;
}

.desc-title {
	font-weight: 600;
	width: 380px;
}

.desc-body {
	text-align: justify;
	margin-bottom: 0px;
}

.post-container {   
	width: 60%;
    background-color: rgba(255, 255, 255, 0.466);
    border-radius: 10px;
    height: 25%;
    align-items: center;
    padding-left: 30px;
    padding-right: 50px;
    position: flex;
    margin-top: 15px;
    margin-bottom: 10px;
    margin: auto;
    justify-content: center;
    overflow: auto;
}

.createEventbtn:hover, .editEventbtn:hover, .deleteEventbtn:hover{
    color: white;
    background: black;
    box-shadow: 0 0 10px #2196f3;
}

.profile {
    display: flex;
    align-items: center;
    gap: 5px;
}

.profile-name {
    font-size: 1rem;
    font-weight: 600;
}

.profile-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 1.5px solid black;
}