/* SCROLLBAR START */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: rgb(0, 0, 0); 
    background: rgb(0, 0, 0); 
    /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.289); 
    /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(218, 218, 216); 
}

.header{
    /* border: solid 1px green; */
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    background-color: rgba(0, 0, 0, 0.50);
    box-shadow: 0 0 15px 1px black;
}

.header-title {
    height: 90px;
    margin-top: 10px;
    /* border: solid 1px cyan; */
    width: 200px;
    position: relative;
}

.sun-area img {
    height: 80px;
    width: 80px;
    margin-top: -50px;
    margin-left: 115px;
}

.title-area {
    font-family: 'Caveat Brush', cursive;
    text-align: center;
    color: white;
    font-size: 40px;
}

.search-area {    
    /* border: solid 1px red; */
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-area input{
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 30px;
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 25px;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    outline: none;    
    color: black;
    padding-left: 15px;
    padding-right: 15px;    
    box-shadow: 0 0 15px 1px black;
}

.R_Search {
    padding: 0;
    border: none;
    background: none;
}

.button-area {
    /* border: solid 1px gold; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
}

.button-area a {
    font-family:Arial, Helvetica, sans-serif;
    margin-left:2px;
    font-weight: bold;
    font-size: 20px;    
    text-decoration: none;
    color: white;
    border-radius: 20px;
    padding: 14px 16px;
}

.button-area a:hover {
    background-color:white;
    color: #e79f23;    
    box-shadow: 0 0 15px 1px #923d47;
}

footer {
    padding-left: 150px;
    padding-right: 150px;
    height: 340px;
    /* border: solid 1px white; */
    background-color: rgba(0, 0, 0, 0.25);
}

.footer-content {
    height: 280px;
    /* border: solid 1px white; */
    display: flex;
}

.box { 
    width: 50%;
    height: 280px;
    /* border: solid 1px blue; */
    display: flex;
    flex-direction: column;
}

.content {
    height: 280px;
    /* border: solid 1px green; */

}

.bottom {
    height: 60px;
    /* border: solid 1px red; */
    width: 100%;
    text-align: center;
    color: #d9d9d9;
    padding: 20px;
    font-size: 13px;
}

.bottom a {
    color: #e79f23;
}

.bottom a:hover {
    color: #aa3857;
}

.footer-sun img {
    height: 80px;
    width: 80px;
    margin-top: -48px;
    margin-left: 92px;
}

.footer-logo {
    font-family: 'Caveat Brush', cursive;
    color: white;
    font-size: 40px;
    margin-left: 20px;
    margin-top: 40px;
}

.contact-us {
    font-size: 15px;
    color: #fff;
    margin-left: 20px;
    margin-top: 15px;
}

.phone {
    margin-left: 20px;
}

.phone a {
    color: white;
}

.email {
    margin-left: 20px;
}

.email a {
    color: white;
}

.about-us {
    font-size: 15px;
    color: #fff;
    margin-left: 160px;
    margin-top: 55px;

}

.abt-desc {
    font-size: 12px;
    color: #fff;
    margin-left: 160px;
    margin-right: 30px;
    text-align: justify;
}


.media-icons {
    margin-left: 158px;
    margin-top: 30px;
}

.media-icons a {
    font-size: 16px;
    height: 45px;
    width: 45px;
    display: inline-block;
    text-align: center;
    line-height: 43px;
    border-radius: 5px;
    border: 2px solid #e79f23;
    margin: 30px 5px 0 0;
    transition: all 0.3s ease;
    color: #e79f23;
}

.media-icons a:hover {
    border-color: #aa3857;
    color: #aa3857;
}

.dummyPic {
    position: absolute;
    left: 150px;
    top: 150px;
    width: 15.6%;
    height: 32%;
    border-radius: 100%;
    border: 3px solid black;
}

.error-msg {
    color: red;
    text-align: center;
}