@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@300&family=Caveat+Brush&family=Caveat:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Alexandria', sans-serif;
}

body {
    background: url('imgs/landing-page.png') no-repeat;
    background-size: cover;
    height: 1140px;
}

.div-body {
    max-height: 1140px;
    display: flex;
    flex-direction: column; 
    
    background-color: rgba(0, 0, 0, 0.71);
    /* border: solid 1px pink; */
}

.main-body {
    height: 800px;
    display: flex;
    flex-direction: column;
    /* border: solid 1px green; */
    align-items: center;
}

.profile-page {
    margin-top: 150px;
    margin-bottom: 50px;
    height: 800px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.466);
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.background {
    background-size: cover;
    /* height: 70vh; */
    width: 100%;
    background: no-repeat;
    position:fixed;
    z-index: -1; 
}

.background img {
    z-index: -1;
    background-size: cover;
    max-height: 1140px;
    background: no-repeat;
    width: 100%;
}

.R_Logo3 {
    position: absolute;
    width: 18%;
    height: 18%;
    left: 2%;
    top: 1%;
}

.R_Profile {
    position: absolute;
    left: 15%;
    top: 200px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 3px solid rgba(8, 8, 8, 0.877);
    background: white;
    /* border: solid 1px green; */
}

.profile-edit input{
    /* border: solid 1px blue; */
    height: 100px;
}

#R_File {
    display: none;
}

.R_PicImg {
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.profile-img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.R_UploadBtn {
    position: absolute;
    left: 30%;
    bottom: 3%;
    color: black;
    font-family: 'Inter';
    font-size: 15px;  
    line-height: 170%;
}

.R_ProfileName {
    position: absolute;
    left: 30%;
    top: 200px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 65px;
}

.R_EditBtn {
    position: absolute;
    width: 190px;
    height: 50px;
    left: 15.5%;
    top: 425px;
    color: white;
    background-color: black;
    border: 2px solid black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    line-height: 45px;
}

.R_EditPass {
    position: absolute;
    width: 190px;
    height: 50px;
    left: 15.5%;
    top: 490px;
    color: white;
    background-color: black;
    border: 2px solid black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    line-height: 50px;
}

.R_SaveBtn {
    position: absolute;
    width: 190px;
    height: 50px;
    left: 15.5%;
    top: 425px;
    color: white;
    background-color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    line-height: 42px;
}

.R_SignOutBtn {
    position: absolute;
    width: 190px;
    height: 50px;
    left: 15.5%;
    top: 555px;
    color: white;
    background-color: black;
    border: 2px solid black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    line-height: 46px;
}

.R_EditBtn:hover, .R_SignOutBtn:hover, .R_SaveBtn:hover, .R_EditPass:hover {
    color: black;
    background-color: white;
}

.R_ProfileInformation {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-left: 8%;
    /* border: solid 1px green; */
}

.R_TitleInfo {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 0;
}

.R_Info {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    margin: 0;
}

.R_LinkInfo {
    padding: 0;
}

ul {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    margin: 0; 
}

.R_Links ul {
   list-style: none;
}

.Edit-Profile-Container {
    width: 50%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    /* border: solid 1px green; */
}

form:not(#searchbar) {
    display: flex;
    flex-direction: column;
    padding: 5px 2vw;
    width: 90%;
    max-width: 800px;
    max-height: 650px;
}
.Profile-Label {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 5px;
    font-size: 20px;
    /* border: solid 1px green; */
}

form input:not(#searchInpt), form textarea:not(#searchInpt) {
    border: 1;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
}